nav{
    padding: 20px 10px;
    background-color: #110095;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3{
    font-size: 20px;
    font-weight: 700;
}

nav .profile{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

nav .profile .user, nav .profile .logout{
    cursor: pointer;
}

nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}