.tasks{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }

  th {
    background-color: #f2f2f2;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  td{
    font-weight: 500;
  }

  td.button{
    cursor: pointer;
  }

  td svg{
    cursor: pointer;
    margin-right: 5px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  th {
    background-color: #110095;
    color: white;
  }