.searchBox{
    padding-top: 50px;
    display: flex;
    width: 80%;
    margin: auto;
    gap: 20px;
    align-items: center;
}

.searchBox .search-field{
    width: 70%;
}

.searchBox .create-task{
    width: 15%;
}

.searchBox .create-team{
    width: 15%;
}