@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

p, span, a{
  font-weight: 500;
}

.green{
  color: forestgreen;
}

.red{
  color: crimson;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  min-width: 100%;
  margin-bottom: 20px;
}

th {
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  max-width: 120px;
}

td{
  font-weight: 500;
}

td.button{
  cursor: pointer;
}

td svg{
  cursor: pointer;
  margin-right: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  background-color: #110095;
  color: white;
}

.container{
  width: 80%;
  margin: auto;
}

.title{
  font-size: 30px;
  width: 200px;
  margin: auto;
  padding-bottom: 2px;
  border-bottom: 1px solid #110095;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form-group label{
  font-size: 16px;
  font-weight: 600;
}

.form-group input, .form-group select, .form-group textarea{
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
}

.form-group .wrapper{
  display: flex;
  align-items: stretch;
}

.form-group .wrapper .icon, .form-group .wrapper .avatar{
  background: #220092;
  color: #fff;
  font-size: 20px;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form-group .wrapper .avatar{
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.avatar{
  max-width: 30px;
}

.form-group .wrapper .icon img, .form-group .wrapper .avatar img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.form-group textarea{
  max-height: 200px;
  resize: none;
}

.form-submit input{
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #220092;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s all ease;
}

form input[type="file"]{
  padding: 0;
}

form input::file-selector-button{
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: #fff;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  padding: 5px 10px;
}

form .error{
  background-color: #f5c6cb;
  color: #721c24;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fe9ea8;
}

form p a{
  text-decoration: none;
  color: #220092;
}